
nav {
    height: 100vh;
    width: 300px;
    min-width: 300px;
    background-color: #333131;
    box-shadow: 5px 0 10px #333;
    z-index: 1;
}

.nav-inner {
    padding: 1rem;
}

nav h1 {
    margin: auto;
    text-align: center;
    padding: 1rem;
    border-bottom: 2px solid white;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.proj-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-radius: 0.5rem;
    margin-bottom: .5rem;
    border: 1px solid #615f5f;
    cursor: pointer;
}

.selected-proj-wrapper {
    background-color: #615f5f;
    border: 1px solid white;
}

.btn-delete-category {
    background-color: #553434;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-new-proj-btn {
    margin-top: 1rem;
    color: lawngreen;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid lawngreen;
    width: 100%;
}

.cancel {
    color: red;
    border: 1px solid red;
}

.add-new-proj-btn:hover {
    box-shadow: 1px 1px 6px 1px lawngreen;
}

.cancel:hover {
    box-shadow: 1px 1px 6px 1px red;
}

.add-new-proj-btn:active {
    box-shadow: none;
}

.add-proj-form {
    display: flex;
    gap: .5rem;
    height: 2rem;
    margin-top: 1rem;
}

.add-proj-form input {
    flex: 3;
    min-width: 0;
    background-color: #615f5f;
    font-size: 1rem;
    padding-left: .5rem;
    border-radius: .5rem;
    border: 1px solid white;
}

.add-proj-form input::placeholder {
    color: darkgray;
}

.add-proj-form input:focus {
    outline: none;
}

.ok-button {
    padding: 0 1rem;
    border: 1px solid transparent;
    background-color: lawngreen;
    border-radius: 0.5rem;
    flex: 1px;
    color: #333131;
}
