* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
    --delete-btn-color: #ff4c4c
}

body {
    display: flex;
    height: 100%;
    background-color: #615f5f;
}


main h1 {
    padding: 1rem 0;
    text-align: center;
}

main {
    width: 100%;
}

#app {
    flex: 1;
    padding: .5rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
}
