* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

body {
    display: flex;
    height: 100%;
    background-color: #615f5f;
}

nav {
    height: 100vh;
    width: 300px;
    min-width: 300px;
    padding: 1rem;
    background-color: #333131;
    box-shadow: 5px 0 10px #333;
    z-index: 1;
}

.selected-project {
    text-decoration: underline;
}

main {
    height: 100vh;
    flex: 1;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
}

.card {
    padding: 1rem;
    width: 380px;
    min-width: 380px;
    height: 150px;
    background-color: #333131;
    border-radius: 1rem;
    box-shadow: 5px 0 10px #333;
}
.completed-wrapper {
    display: flex;
    gap: .25rem;
    align-items: center;
}
.dateAndPriority {
    display: flex;
    justify-content: space-between;
}