* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
    --delete-btn-color: #ff4c4c
}

 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 24;

     color: var(--delete-btn-color);
 }

 .add-icon {
     font-size: 4rem;
     color: lawngreen;
 }

body {
    display: flex;
    height: 100%;
    background-color: #615f5f;
}

nav {
    height: 100vh;
    width: 300px;
    min-width: 300px;
    padding: 1rem;
    background-color: #333131;
    box-shadow: 5px 0 10px #333;
    z-index: 1;
}

.selected-project {
    text-decoration: underline;
}

main {
    height: 100vh;
    flex: 1;
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;
}

.card {
    padding: .75rem;
    width: 390px;
    min-width: 390px;
    height: 200px;
    background-color: #333131;
    border-radius: 1rem;
    box-shadow: 5px 0 10px #333;
    position: relative;
}

.new-card-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-todo-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#add-todo-form div label {
    flex: 1;
    box-sizing: border-box;
    padding-left: .125rem;
}

#add-todo-form div input {
    flex: 3;
}
.priority {
    font-size: .9rem;
}

.priority.low {
    color: lawngreen;
}

.priority.important {
    color: orange;
}

.priority.urgent {
    color: var(--delete-btn-color);
}

.completed-wrapper {
    display: flex;
    gap: .25rem;
    align-items: center;
}

input {
    background-color: gray;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: .125rem
}

.dateAndPriority {
    display: flex;
    gap: 1rem;
}

select  {
    background-color: gray;
    height: 25px;
    border-radius: .25rem
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.delete-button {
    position: absolute;
    bottom: 1rem;
    right: .75rem;
    color: var(--delete-btn-color);
}

.input-button-wrapper {
    margin-top: .25rem;
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.button-add {
    border: 1px solid lawngreen;
    border-radius: .25rem;
    color: lawngreen;
    font-size: 1rem;
    font-weight: bold;
    width: 72px;
}

.button-cancel {
    padding: 0.25rem;
    border: 1px solid var(--delete-btn-color);
    border-radius: .25rem;
    color: var(--delete-btn-color);
    font-size: 1rem;
    font-weight: bold;
    width: 72px;
}

.dateAndCompleted {
    display: flex;
    justify-content: space-between;
}

/*-------------------------------------*/
.scene {
    width: 390px; /* Adjust to match your card size */
    height: 200px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: preserve-3d;
}

.card-inner.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari support */
}

.card-face--back {
    transform: rotateY(180deg);
}